<table class="table table-hover">
    <thead>
            <tr>
                    <th>Data nuo</th>
                    <th>Data iki</th>
                    <th>Procentas</th>
                    <th></th>
            </tr></thead>
        <tbody>
    <tr *ngFor="let pd of service.list">
<td (click) = "populateForm(pd)">{{pd.DateFrom | date:'yyyy-MM-dd'}}</td>
<td (click) = "populateForm(pd)">{{pd.DateTo | date:'yyyy-MM-dd'}}</td>
<td (click) = "populateForm(pd)">{{pd.Percentage}}</td>
<td>
    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.StageProgressId)"></i>
</td>
    </tr></tbody>
</table>