<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="SalaryId" [value]="service.formData.SalaryId">
       <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Etatas</mat-label>
            <input matInput type="text" name="Staff" #Type="ngModel" [(ngModel)]="service.formData.Staff" placeholder="Įveskite etatą" required maxlength="4">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Atlyginimas</mat-label>
            <input matInput type="text" name="EmployeeSalary" #Type="ngModel" [(ngModel)]="service.formData.EmployeeSalary" placeholder="Įveskite atlyginimą" required maxlength="15">
          </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Pasirinkite pradžios datą</mat-label>
        <input matInput [matDatepicker]="myDatePicker" name="DateFrom" #Type="ngModel" [(ngModel)]="service.formData.DateFrom" required>
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
        </mat-form-field>
  </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Pasirinkite pabaigos datą</mat-label>
        <input matInput [matDatepicker]="myDatePicker2" name="DateTo" #Type="ngModel" [(ngModel)]="service.formData.DateTo" required>
        <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker2></mat-datepicker>
        </mat-form-field>
  </div>
      <div class="form-group">
        <button type="submit" class="full-width" mat-raised-button color="primary" [disabled]="form.invalid">Įrašyti</button>
      </div>
</form>
