<div style="overflow-x:auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kiekis</th>
                <th>Sertifikatas</th>
               <th></th>
            </tr>
        </thead>
         <tbody>
            <tr *ngFor="let pd of service.list">
                <td (click)="populateForm(pd)">{{pd.Amount}}</td>
                <td (click)="populateForm(pd)">{{this.service.getCertificateTitle(pd.CertificateId)}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ContestCertificateId)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    </div>