<div style="overflow-x:auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pavadinimas</th>
               <th></th>
            </tr>
        </thead>
         <tbody>
            <tr *ngFor="let pd of service.list">
                <td (click)="populateForm(pd)">{{pd.Title}}</td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.CompetencyId)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    </div>