<kendo-grid
[data]="gridView"
[pageSize]="state.take"
[skip]="state.skip"
[filter] ="state.filter"
[pageable]="{pageSizes: [10,20,25,50,100 ]}"
[groupable]="true"
[group]="state.group"
[resizable]="true"
filterable="menu"
[sortable]="true"
[sort]="state.sort"
(dataStateChange)="dataStateChange($event, this.service)"
(pageChange)="pageChange($event, this.service)">
<app-kendo-grid></app-kendo-grid>
<kendo-grid-messages
groupPanelEmpty="Vilkite stulpelio antraštę ir įdėkite ją čia, kad grupuotumėte pagal tą stulpelį."
>
</kendo-grid-messages>
<ng-template kendoGridToolbarTemplate>
    <button type="button" style="float: right;" kendoGridExcelCommand>Eksportuoti į Excel</button>
    <div style="float: left;">
        <button kendoButton  [primary]=true (click)="open2()"><i class="fas fa-plus"> </i> &nbsp; Įvesti naują įrašą</button>
        <kendo-dialog title="Konkurso būsenos informacija" *ngIf="opened2" (close)="close()" [minWidth]="250" [width]="450">
            <form #form="ngForm" autocomplete="off">
                <input type="hidden" name="ContestStatusId" [value]="service.formData.ContestStatusId">
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Pavadinimas</mat-label>
                        <input matInput name="StatusName" #Type = "ngModel" [(ngModel)]="service.formData.StatusName" type="text" id="StatusName" placeholder="Įveskite būsenos pavadinimą" required>    
                    </mat-form-field>
                </div>
            </form>
            <kendo-dialog-actions>
                <button kendoButton (click)="onSubmit(form)" [disabled]="form.invalid" primary="true"><i class="fas fa-plus"> </i>    Įrašyti</button>
                <button kendoButton (click)="close()"><i class="fas fa-arrow-left"></i> Atšaukti</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
</ng-template>
    <kendo-grid-column field="StatusName" title="Pavadinimas" minResizableWidth="50">
    </kendo-grid-column>
    <kendo-grid-column width="90"  minResizableWidth="90">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div >
              <button class="btn-primary btn-sm edit-btn"  (click)="populateForm(dataItem)"><span class="fa fa-edit fa-lg"></span></button>    
          </div>
        </ng-template>
      </kendo-grid-column>
    <kendo-grid-column  width="90"  minResizableWidth="90">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <div>
                <button class="btn-primary btn-sm delete-btn" (click)="open(dataItem.ContestStatusId)"><span class="far fa-trash-alt"></span></button>
                <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">
                    <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                    <kendo-dialog-actions>
                        <button kendoButton (click)="onDelete()" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                        <button kendoButton (click)="close()"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                    </kendo-dialog-actions>
                </kendo-dialog>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-excel fileName="Eksportas.xlsx"></kendo-grid-excel>
</kendo-grid>