<kendo-grid
[data]="gridView"
[pageSize]="state.take"
[skip]="state.skip"
[filter] ="state.filter"
[pageable]="{pageSizes: true}"
[groupable]="true"
[group]="state.group"
[resizable]="true"
filterable="menu"
[sortable]="true"
[sort]="state.sort"
(dataStateChange)="dataStateChange($event)"
(pageChange)="pageChange($event)">
<ng-template kendoGridToolbarTemplate>
    <button type="button" style="float: right;" kendoGridExcelCommand>Eksportuoti į Excel</button>
    <button routerLink="/tender/0">Pridėti pasiūlymą</button>
</ng-template>
    <kendo-grid-column field="Title" title="Pavadinimas" width="250"  minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a [routerLink]="['/tender/', dataItem.TenderId]" >{{this.service.getContestName(dataItem.ContestId)}}</a>
            </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Price" title="Kaina" minResizableWidth="50">
    </kendo-grid-column>
    <kendo-grid-column field="FillingDate" title="Pateikimo data"   minResizableWidth="50">
    </kendo-grid-column>
    <kendo-grid-column field="TenderState" title="Būsena"   minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a>{{this.service.getTenderStateName(dataItem.TenderState)}}</a>
            </ng-template>
    </kendo-grid-column>
    <kendo-grid-excel fileName="Pasiūlymai.xlsx"></kendo-grid-excel>
</kendo-grid>