<table class="table table-hover">
    <thead>
            <tr>
                    <th>Pavadinimas</th>
                    <th>Kaina</th>
                    <th>Pateikimo data</th>
                    <th>Būsena</th>
                    <th></th>
            </tr></thead>
        <tbody>
    <tr *ngFor="let pd of service.list">
<td (click) = "populateForm(pd)">{{this.service.getContestName(pd.ContestId)}}</td>
<td (click) = "populateForm(pd)">{{pd.Price}}</td>
<td (click) = "populateForm(pd)">{{pd.FillingDate | date:'yyyy-MM-dd'}}</td>
<td (click) = "populateForm(pd)">{{this.service.getTenderStateName(pd.TenderState)}}</td>
<td>
    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.TenderId)"></i>
</td>
    </tr></tbody>
</table>