<table class="table table-hover">
    <thead>
            <tr>
                    <th>Aprašymas</th>
                    <th>Failas</th>
                    <th>Konkurso pavadinimas</th>
                    <th></th>
            </tr></thead>
        <tbody>
    <tr *ngFor="let pd of service.list" >
<td (click) = "populateForm(pd)">{{pd.Description}}</td>
<td (click) = "populateForm(pd)">{{pd.FileName}}</td>
<td (click) = "populateForm(pd)">{{this.service.getContestTitle(pd.ContestId)}}</td>
<td>
    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ContestFileId)"></i>
</td>
    </tr></tbody>
</table>