<div class="jumbtron">
    <h1 class="display-4 text-center">Projekto duomenys</h1>
    <hr>
    <mat-tab-group>
        <nav mat-tab-nav-bar></nav>
        <mat-tab label="Bendra informacija">
            <form #form="ngForm" autocomplete="off">
                <input type="hidden" name="ProjectId" [value]="service.formData.ProjectId">
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Pavadinimas</mat-label>
                        <input matInput name="Title" #Type = "ngModel" [(ngModel)]="service.formData.Title" type="text" placeholder="Įveskite projekto pavadinimą" id="Title" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Sutarties numeris</mat-label>
                        <input matInput name="ContractNumber" #Type = "ngModel" [(ngModel)]="service.formData.ContractNumber" type="text" placeholder="Įveskite projekto sutarties numerį" id="ContractNumber" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Biudžetas</mat-label>
                        <input matInput name="Budget" #Type = "ngModel" [(ngModel)]="service.formData.Budget" type="number" id="Budget" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Užsakovas</mat-label>
                        <mat-select [(ngModel)]="service.formData.CustomerId" name = "service.formData.CustomerId" required>
                          <mat-option *ngFor="let customer of service.list2" [value]="customer.CustomerId">{{customer.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Projekto pasiūlymas</mat-label>
                        <mat-select [(ngModel)]="service.formData.TenderId" name = "service.formData.TenderId" required>
                          <mat-option *ngFor="let tender of service.list3" [value]="tender.TenderId">{{tender.TenderId}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div style="float: right;">
                    <button kendoButton  (click)="open()" ><i class="fas fa-trash-alt"></i>  Ištrinti</button>
                    <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                            <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
                <button kendoButton [primary]="true"(click)="onSubmit(form)" [disabled]="form.invalid">Įrašyti</button>
            </form>
        </mat-tab>
        <mat-tab label="Etapai" *ngIf="this.id!=0" >
            <app-project-stage-list></app-project-stage-list>
        </mat-tab>
        <mat-tab label="Rodikliai" *ngIf="this.id!=0" >
            Kol kas nepadaryta
        </mat-tab>   
      </mat-tab-group>
</div>
