<div class="jumbtron">
    <h1 class="display-4 text-center">Konkurso duomenys</h1>
    <hr>
    <mat-tab-group>
        <nav mat-tab-nav-bar></nav>
        <mat-tab label="Bendra informacija">
            <form #form="ngForm" autocomplete="off">
                <input type="hidden" name="ContestId" [value]="service.formData.ContestId">
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Pavadinimas</mat-label>
                        <input matInput name="Title" #Type = "ngModel" [(ngModel)]="service.formData.Title" type="text" id="Title" placeholder="Įveskite konkurso pavadinimą" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Biudžetas</mat-label>
                        <input matInput name="Budget" #Type = "ngModel" [(ngModel)]="service.formData.Budget" type="number" id="Budget" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label for="PublicationDate">Paskelbimo data</label><label style="color: red;"> *</label>
                    <input name="PublicationDate" #Type = "ngModel" [(ngModel)]="service.formData.PublicationDate" type="date" class="form-control" id="PublicationDate" required>
                </div>
                <div class="form-group">
                    <label for="FillingDate">Pateikimo data</label><label style="color: red;"> *</label>
                    <input name="FillingDate" #Type = "ngModel" [(ngModel)]="service.formData.FillingDate" type="date" class="form-control" id="FillingDate" required>
                </div>
                <div class="form-group">
                    <label for="PriceRobbingDate">Kainų plėšimo data</label><label style="color: red;"> *</label>
                    <input name="PriceRobbingDate" #Type = "ngModel" [(ngModel)]="service.formData.PriceRobbingDate" type="date" class="form-control" id="PriceRobbingDate" required>
                </div>
                <div class="form-group">
                    <label for="ClaimsFillingDate">Pretenzijų pateikimo data</label><label style="color: red;"> *</label>
                    <input name="ClaimsFillingDate" #Type = "ngModel" [(ngModel)]="service.formData.ClaimsFillingDate" type="date" class="form-control" id="ClaimsFillingDate" required>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Konkurso būsena</mat-label>
                        <mat-select [(ngModel)]="service.formData.ContestStatusId" name = "service.formData.ContestStatusId" required>
                          <mat-option *ngFor="let contestStatus of service.list2" [value]="contestStatus.ContestStatusId">{{contestStatus.StatusName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Užsakovas</mat-label>
                        <mat-select [(ngModel)]="service.formData.CustomerId" name = "service.formData.CustomerId" required>
                          <mat-option *ngFor="let customer of service.list3" [value]="customer.CustomerId">{{customer.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div style="float: right;">
                    <button kendoButton  (click)="open()" ><i class="fas fa-trash-alt"></i>  Ištrinti</button>
                    <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                            <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
                <button kendoButton [primary]="true"(click)="onSubmit(form)" [disabled]="form.invalid">Įrašyti</button>
            </form>
        </mat-tab>
        <mat-tab label="Failai" *ngIf="this.id!=0" >
            <app-contest-file-list></app-contest-file-list>
        </mat-tab>
        <mat-tab label="Sertifikatai" *ngIf="this.id!=0">
            <app-contest-certificates></app-contest-certificates>
        </mat-tab>
      </mat-tab-group>
</div>
