<div class="jumbtron">
    <h1 class="display-4 text-center">Konkurso duomenys</h1>
    <hr>
    <mat-tab-group>
        <nav mat-tab-nav-bar></nav>
        <mat-tab label="Bendra informacija">
            <form #form="ngForm" autocomplete="off">
                <hr>
                <input type="hidden" name="ContestId" [value]="service.formData.ContestId">
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Pavadinimas</mat-label>
                        <input matInput name="Title" #Type = "ngModel" [(ngModel)]="service.formData.Title" type="text" id="Title" placeholder="Įveskite konkurso pavadinimą" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Biudžetas</mat-label>
                        <input matInput name="Budget" #Type = "ngModel" [(ngModel)]="service.formData.Budget" type="number" id="Budget" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Paskelbimo data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker" name="PublicationDate" #Type="ngModel" [(ngModel)]="service.formData.PublicationDate" >
                      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker></mat-datepicker>
                      </mat-form-field>
                </div>
                  <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Pateikimo data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker2" name="FillingDate" #Type="ngModel" [(ngModel)]="service.formData.FillingDate" >
                      <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker2></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Kainų plėšimo data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker3" name="PriceRobbingDate" #Type="ngModel" [(ngModel)]="service.formData.PriceRobbingDate" >
                      <mat-datepicker-toggle [for]="myDatePicker3" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker3></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Pretenzijų pateikimo data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker4" name="ClaimsFillingDate" #Type="ngModel" [(ngModel)]="service.formData.ClaimsFillingDate" >
                      <mat-datepicker-toggle [for]="myDatePicker4" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker4></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Konkurso būsena</mat-label>
                        <mat-select [(ngModel)]="service.formData.ContestStatusId" name = "service.formData.ContestStatusId" required>
                          <mat-option *ngFor="let contestStatus of service.list2" [value]="contestStatus.ContestStatusId">{{contestStatus.StatusName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Užsakovas</mat-label>
                        <mat-select [(ngModel)]="service.formData.CustomerId" name = "service.formData.CustomerId" required>
                          <mat-option *ngFor="let customer of service.list3" [value]="customer.CustomerId">{{customer.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <button kendoButton class="part-width"  [primary]=true   (click)="onSubmit(form)" [disabled]="form.invalid"><i class="fas fa-plus"> </i> &nbsp; Įrašyti</button>
                </div>
                <div *ngIf="this.id!=0" class="form-group">
                    <button kendoButton [primary]=true class="delete2-btn" style="background-color: #c75757; border-color: #c75757;" (click)="open()"><i class="fas fa-trash-alt"> </i> &nbsp; Ištrinti</button>
                    <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                            <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
        </form>
        </mat-tab>
        <mat-tab label="Failai" *ngIf="this.id!=0" >
            <hr>
            <app-contest-file-list></app-contest-file-list>
        </mat-tab>
        <mat-tab label="Sertifikatai" *ngIf="this.id!=0">
            <hr>
            <app-contest-certificates></app-contest-certificates>
        </mat-tab>
      </mat-tab-group>
</div>
