<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="TenderStateId" [value]="service.formData.TenderStateId">
    <div class="form-group">
      <label for="Type">Būsenos pavadinimas</label><label style="color: red;"> *</label>
      <input name="Name" #Type = "ngModel" [(ngModel)]="service.formData.Name" type="text" class="form-control" id="Name" placeholder="Įveskite būsenos pavadinimą" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Įrašyti</button>
</form>