<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="DutyId" [value]="service.formData.DutyId">
    <div class="form-group">
        <input type="text" name="Title" #Type="ngModel" [(ngModel)]="service.formData.Title" class="form-control" placeholder="Pavadinimas" required maxlength="100">
    </div>
    <div class="form-group">
        <button class=" btn-success btn-lg btn-block btn-sm" type="submit" [disabled]="form.invalid"><i class="far fa-save"></i> Saugoti</button>
    </div>
</form>