
<div class="jumbtron">
    <h1 class="display-4 text-center">Projekto grafikas</h1>
    <hr>
    <form #form="ngForm" autocomplete="off">
            <input type="hidden" name="ProjectId" [value]="service.formData.ProjectId">
            <div class="form-group">
                <mat-form-field class="sec-width">
                    <mat-label>Projektas</mat-label>
                    <mat-select [(ngModel)]="service.formData.ProjectId" name = "service.formData.ProjectId" required>
                      <mat-option *ngFor="let cert of service.listProjects" [value]="cert.ProjectId">{{cert.Title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button kendoButton [primary]="true" (click)="onSubmit(form)">Rodyti</button>    
               </div>
            </form>
    </div>
<ejs-gantt id="ganttDefault" 
height="430px" 
[dataSource]="list"
[taskFields]="taskSettings" 
[renderBaseline]="true"
baselineColor='red'
dateFormat="yyyy-MM-dd"
[columns]="columns"
[holidays] = "holidays"
[timelineSettings]="timelineSettings">
</ejs-gantt>
<kendo-grid [data]="list"  >
    <kendo-grid-column field="ProjectStageNameId" title="Nr." width="60">
    </kendo-grid-column>
    <kendo-grid-column field="ProjectStageName.StageName" title="Pavadinimas" >
    </kendo-grid-column>
    </kendo-grid>
