<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="ExamId" [value]="service.formData.ExamId">
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pavadinimas</mat-label>
            <input matInput type="text" name="Title" #Type="ngModel" [(ngModel)]="service.formData.Title" placeholder="Įveskite pavadinimą" required maxlength="100">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Kodas</mat-label>
            <input matInput type="text" name="Code" #Type="ngModel" [(ngModel)]="service.formData.Code" placeholder="Įveskite kodą" required maxlength="100">
          </mat-form-field>
    </div>
  <div class="form-group">
    <mat-form-field class="full-width">
        <mat-label>Pasirinkite sertifikatą</mat-label>
        <mat-select [(ngModel)]="service.formData.CertificateId" name = "service.formData.CertificateId" required>
          <mat-option *ngFor="let cert of service.certificatelist" [value]="cert.CertificateId">{{cert.Title}}</mat-option>
        </mat-select>
      </mat-form-field>
   </div>
    <div class="form-group" >
        <button type="submit" class="full-width" mat-raised-button color="primary" [disabled]="!form.valid" >Įrašyti</button>
    </div>
</form>