<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="EmployeeExamId" [value]="service.formData.EmployeeExamId">
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite planuojamą datą</mat-label>
            <input matInput type="date"name="PlannedExamDate" #Type="ngModel" [(ngModel)]="service.formData.PlannedExamDate" placeholder="Planuojama data" required>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite realią datą</mat-label>
            <input matInput type="date" name="RealExamDate" #Type="ngModel" [(ngModel)]="service.formData.RealExamDate" placeholder="Reali data" required>
          </mat-form-field>
    </div>
    <mat-checkbox class="example-margin" color = "primary"  name="IsPassed" [(ngModel)]="service.formData.IsPassed">Išlaikytas</mat-checkbox>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Kaina</mat-label>
            <input matInput type="text" name="Price" #Type="ngModel" [(ngModel)]="service.formData.Price" placeholder="Įveskite kainą" required maxlength="100">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Failas</mat-label>
            <input matInput type="text" name="File" #Type="ngModel" [(ngModel)]="service.formData.File" placeholder="Įveskite failą" required maxlength="100">
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite egzaminą</mat-label>
            <mat-select [(ngModel)]="service.formData.ExamId" name = "service.formData.ExamId" required>
              <mat-option *ngFor="let exam of service.examList" [value]="exam.ExamId">{{exam.Title}}</mat-option>
            </mat-select>
          </mat-form-field>
       </div>
       <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite darbuotoją</mat-label>
            <mat-select [(ngModel)]="service.formData.EmployeeId" name = "service.formData.EmployeeId" required>
              <mat-option *ngFor="let emp of service.employeeList" [value]="emp.EmployeeId">{{emp.Name +' ' + emp.Surname}}</mat-option>
            </mat-select>
          </mat-form-field>
       </div>
       <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite sertifikatą</mat-label>
            <mat-select [(ngModel)]="service.formData.CertificateId" name = "service.formData.CertificateId" required>
              <mat-option *ngFor="let cert of service.certificatelist" [value]="cert.CertificateId">{{cert.Title}}</mat-option>
            </mat-select>
          </mat-form-field>
       </div>
    <div class="form-group">
        <button type="submit" class="full-width" mat-raised-button color="primary" [disabled]="form.invalid">Įrašyti</button>
    </div>
</form>