<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="EmployeeCompetencyId" [value]="service.formData.EmployeeCompetencyId">
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite pradžios datą</mat-label>
            <input matInput type="date"name="DateFrom" #Type="ngModel" [(ngModel)]="service.formData.DateFrom" placeholder="Pradžios data" required>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite pabaigos datą</mat-label>
            <input matInput type="date" name="DateTo" #Type="ngModel" [(ngModel)]="service.formData.DateTo" placeholder="Pabaigos data" required>
          </mat-form-field>
    </div>
       <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label>Pasirinkite kompetenciją</mat-label>
            <mat-select [(ngModel)]="service.formData.CompetencyId" name = "service.formData.CompetencyId" required>
              <mat-option *ngFor="let comp of service.competencyList" [value]="comp.CompetencyId">{{comp.Title}}</mat-option>
            </mat-select>
          </mat-form-field>
       </div>
    <div class="form-group">
        <button type="submit" class="full-width" mat-raised-button color="primary" [disabled]="form.invalid">Įrašyti</button>
    </div>
</form>