<kendo-grid
[data]="gridView"
[pageSize]="state.take"
[skip]="state.skip"
[filter] ="state.filter"
[pageable]="{pageSizes: true}"
[groupable]="true"
[group]="state.group"
[resizable]="true"
filterable="menu"
[sortable]="true"
[sort]="state.sort"
(dataStateChange)="dataStateChange($event, this.service)"
(pageChange)="pageChange($event, this.service)">
<app-kendo-grid></app-kendo-grid>
<kendo-grid-messages
            groupPanelEmpty="Vilkite stulpelio antraštę ir įdėkite ją čia, kad grupuotumėte pagal tą stulpelį."
>
</kendo-grid-messages>
<ng-template kendoGridToolbarTemplate>
    <button type="button" style="float: right;" kendoGridExcelCommand>Eksportuoti į Excel</button>
    <button kendoButton  [primary]=true routerLink="/employee/0"><i class="fas fa-plus"> </i> &nbsp; Pridėti darbuotoją</button>
</ng-template>
<kendo-grid-column field="Surname" title="Pavardė" width="250"  minResizableWidth="50">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a [routerLink]="['/employee/', dataItem.EmployeeId]" >{{dataItem.Surname}}</a>
        </ng-template>
</kendo-grid-column>
<kendo-grid-column field="Name" title="Vardas" minResizableWidth="50">
</kendo-grid-column>
<kendo-grid-column field="FkEmployeeId" title="Vadovas" minResizableWidth="50"> </kendo-grid-column>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <a>{{this.service.getManager(dataItem.FkEmployeeId)}}</a>
        </ng-template>
   
    <kendo-grid-column field="IsActive" title="Ar aktyvus" minResizableWidth="50" filter="boolean"></kendo-grid-column>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a>{{this.service.getActiveParam(dataItem.EmployeeId)}}</a>
            </ng-template>
<kendo-grid-excel fileName="Darbuotojai.xlsx"></kendo-grid-excel>
</kendo-grid>