<div class="jumbtron">
    <h1 class="display-4 text-center">Projekto etapo duomenys</h1>
    <hr>
    <mat-tab-group>
        <nav mat-tab-nav-bar></nav>
        <mat-tab label="Bendra informacija">
            <form #form="ngForm" autocomplete="off">
                <hr>
                <input type="hidden" name="ProjectStageId" [value]="service.formData.ProjectStageId">
                   <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Etapo pavadinimas</mat-label>
                        <mat-select [(ngModel)]="service.formData.ProjectStageNameId" name = "service.formData.ProjectStageNameId" required>
                          <mat-option *ngFor="let stageName of service.list2" [value]="stageName.ProjctStageNameId">{{stageName.StageName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                   </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Planuojama pradžios data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker" name="ScheduledStartDate" #Type="ngModel" [(ngModel)]="service.formData.ScheduledStartDate" required>
                      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker></mat-datepicker>
                      </mat-form-field>
                </div>
                  <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Reali pradžios data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker2" name="StartDate" #Type="ngModel" [(ngModel)]="service.formData.StartDate">
                      <mat-datepicker-toggle [for]="myDatePicker2" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker2></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Planuojama pabaigos data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker3" name="ScheduledEndDate" #Type="ngModel" [(ngModel)]="service.formData.ScheduledEndDate" required>
                      <mat-datepicker-toggle [for]="myDatePicker3" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker3></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Reali pabaigos data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker4" name="EndDate" #Type="ngModel" [(ngModel)]="service.formData.EndDate">
                      <mat-datepicker-toggle [for]="myDatePicker4" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker4></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Etapo biudžetas</mat-label>
                        <input matInput name="StageBudget" #Type = "ngModel" [(ngModel)]="service.formData.StageBudget" type="number" id="StageBudget" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button kendoButton class="part-width"  [primary]=true   (click)="onSubmit(form)" [disabled]="form.invalid"><i class="fas fa-plus"> </i> &nbsp; Įrašyti</button>
                </div>
                <div *ngIf="this.id!=0" class="form-group">
                    <button kendoButton [primary]=true class="delete2-btn" style="background-color: #c75757; border-color: #c75757;" *ngIf="this.id2!=0" (click)="open()"><i class="fas fa-trash-alt"> </i> &nbsp; Ištrinti</button>
                    <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                            <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Resursų planas" *ngIf="this.id2!=0" >
            <hr>
            <app-resource-plan-list></app-resource-plan-list>
        </mat-tab>
        <mat-tab label="Darbo laiko registras" *ngIf="this.id2!=0" >
            <hr>
            <app-working-time-register-list></app-working-time-register-list>
        </mat-tab>
        <mat-tab label="Etapo įvykdymo progresas" *ngIf="this.id2!=0" >
            <hr>
            <app-stage-progress-list></app-stage-progress-list>
        </mat-tab>
        <mat-tab label="CPI rodikliai" *ngIf="this.id2!=0" >
            <hr>
            <app-cpi-measures></app-cpi-measures>
        </mat-tab>
        <mat-tab label="Kompetencijos" *ngIf="this.id2!=0" >
            <hr>
            <app-stage-competencies></app-stage-competencies>
        </mat-tab>
      </mat-tab-group>
</div>