<table class="table table-hover">
    <thead>
            <tr>
                    <th>Pavadinimas</th>
                    <th>Adresas</th>
                    <th>Tipas</th>
                    <th></th>
            </tr></thead>
        <tbody>
    <tr *ngFor="let pd of service.list" >
<td (click) = "populateForm(pd)">{{pd.Name}}</td>
<td (click) = "populateForm(pd)">{{pd.Adress}}</td>
<td (click) = "populateForm(pd)">{{this.service.getCustomerTypeName(pd.CustomerTypeId)}}</td>
<td>
    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.CustomerId)"></i>
</td>
    </tr></tbody>
</table>