<div class="jumbtron">
  <h1 class="display-4 text-center">Darbuotojo duomenys</h1>
  <hr>
  <mat-tab-group>
      <nav mat-tab-nav-bar></nav>
      <mat-tab label="Bendra informacija">
          <form #form="ngForm" autocomplete="off">
              <input type="hidden" name="EmployeeId" [value]="service.formData.EmployeeId">
              <hr>
              <div class="form-group">
                <mat-form-field class="full-width">
                    <mat-label>Pavardė</mat-label>
                    <input matInput type="text" name="Surname" #Type="ngModel" [(ngModel)]="service.formData.Surname" placeholder="Įveskite pavardę" required maxlength="100">
                  </mat-form-field>
              </div>
            <div class="form-group">
              <mat-form-field class="full-width">
                  <mat-label>Vardas</mat-label>
                  <input matInput type="text" name="Name" #Type="ngModel" [(ngModel)]="service.formData.Name" placeholder="Įveskite vardą" required maxlength="100">
                </mat-form-field>
            </div>
            <mat-checkbox class="example-margin" color = "primary"  name="IsActive" [(ngModel)]="service.formData.IsActive">Aktyvus</mat-checkbox>
            <div class="form-group">
              <mat-form-field class="full-width" *ngIf="service.formData.IsActive">
                  <mat-label>Vadovas </mat-label>
                  <mat-select [(ngModel)]="service.formData.FkEmployeeId" name = "service.formData.FkEmployeeId" required>
                    <mat-option *ngFor="let emp of service.list" [value]="emp.EmployeeId">{{emp.Name +' ' + emp.Surname}}</mat-option>
                  </mat-select>
                </mat-form-field>
             </div>
        <div class="form-group">
          <button class="part-width" mat-raised-button color="primary" (click)="onSubmit(form)" [disabled]="form.invalid">Įrašyti</button>
      </div>
      <div *ngIf="this.id!=0" class="form-group">
        <button class="part-width" mat-raised-button color="accent" (click)="open()" ><i class="fas fa-trash-alt"></i>  Ištrinti</button>
        <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
            </kendo-dialog-actions>
        </kendo-dialog>
    </div>
          </form>
      </mat-tab>
      <mat-tab label="Egzaminai" *ngIf="this.id!=0" >
        <hr>
          <app-employee-exams></app-employee-exams>
      </mat-tab>
      <mat-tab label="Sertifikatai" *ngIf="this.id!=0" >
        <hr>
        <app-employee-certificates></app-employee-certificates>
      </mat-tab>  
      <mat-tab label="Pareigos" *ngIf="this.id!=0" >
        <hr>
          <app-employee-duties></app-employee-duties>
      </mat-tab>
      <mat-tab label="Kompetencijos" *ngIf="this.id!=0" >
        <hr>
          <app-employee-competencies></app-employee-competencies>
      </mat-tab>   
      <mat-tab label="Atlyginimai" *ngIf="this.id!=0" >
        <hr>
          <app-salaries></app-salaries>
      </mat-tab>    
    </mat-tab-group>
</div>
