
    <table class="table table-hover">
        <thead>
                <tr>
                        <th>Pavadinimas</th>
                        <th>Biudžetas</th>
                        <th>Paskelbimo data</th>
                        <th>Pateikimo data</th>
                        <th>Kainų plėšimo data</th>
                        <th>Pretenzijų pateikimo data</th>
                        <th>Būsena</th>
                        <th>Užsakovas</th>
                        <th></th>
                </tr></thead>
            <tbody>
        <tr *ngFor="let pd of service.list" >
    <td (click) = "populateForm(pd)">{{pd.Title}}</td>
    <td (click) = "populateForm(pd)">{{pd.Budget}}</td>
    <td (click) = "populateForm(pd)">{{pd.PublicationDate | date:'yyyy-MM-dd'}}</td>
    <td (click) = "populateForm(pd)">{{pd.FillingDate | date:'yyyy-MM-dd'}}</td>
    <td (click) = "populateForm(pd)">{{pd.PriceRobbingDate | date:'yyyy-MM-dd'}}</td>
    <td (click) = "populateForm(pd)">{{pd.ClaimsFillingDate | date:'yyyy-MM-dd'}}</td>
    <td (click) = "populateForm(pd)">{{this.service.getContestStatusName(pd.ContestStatusId)}}</td>
    <td (click) = "populateForm(pd)">{{this.service.getCustomerName(pd.CustomerId)}}</td>
    <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ContestId)"></i>
    </td>
        </tr></tbody>
    </table>