<kendo-grid
[data]="gridView"
[pageSize]="state.take"
[skip]="state.skip"
[filter] ="state.filter"
[pageable]="{pageSizes: true}"
[groupable]="true"
[group]="state.group"
[resizable]="true"
filterable="menu"
[sortable]="true"
[sort]="state.sort"
(dataStateChange)="dataStateChange($event, this.service)"
(pageChange)="pageChange($event, this.service)">
<app-kendo-grid></app-kendo-grid>
<kendo-grid-messages
            groupPanelEmpty="Vilkite stulpelio antraštę ir įdėkite ją čia, kad grupuotumėte pagal tą stulpelį."
>
</kendo-grid-messages>
<ng-template kendoGridToolbarTemplate>
    <button type="button" style="float: right;" kendoGridExcelCommand>Eksportuoti į Excel</button>
    <button kendoButton  [primary]=true routerLink="/contest/0"><i class="fas fa-plus"> </i>   Pridėti konkursą</button>
</ng-template>
    <kendo-grid-column field="Title" title="Pavadinimas" width="250"  minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a [routerLink]="['/contest/', dataItem.ContestId]" >{{dataItem.Title}}</a>
            </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Budget" title="Biudžetas" minResizableWidth="50" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="PublicationDate" title="Paskelbimo data"   minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.PublicationDate | date: 'yyyy-MM-dd'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="FillingDate" title="Pateikimo data"  minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.FillingDate | date: 'yyyy-MM-dd'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="PriceRobbingDate" title="Kainų plėšimo data"   minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.PriceRobbingDate | date: 'yyyy-MM-dd'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ClaimsFillingDate" title="Pretenzijų pateikimo data"  minResizableWidth="50">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{dataItem.ClaimsFillingDate | date: 'yyyy-MM-dd'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="ContestStatus.StatusName" title="Būsena"   minResizableWidth="50">
    </kendo-grid-column>
    <kendo-grid-column field="Customer.Name" title="Užsakovas"   minResizableWidth="50">
    </kendo-grid-column>
    <kendo-grid-excel fileName="Konkursai.xlsx"></kendo-grid-excel>
</kendo-grid>