<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="CertificateId" [value]="service.formData.CertificateId">
    <div class="form-group">
        <input type="text" name="Title" #Type="ngModel" [(ngModel)]="service.formData.Title" class="form-control" placeholder="Pavadinimas" required maxlength="100">
    </div>
    <div class="form-group">
        <input type="text" name="Code" #Type="ngModel" [(ngModel)]="service.formData.Code" class="form-control" placeholder="Kodas" required maxlength="100">
    </div>
    <div class="form-group">
        <input type="text" name="Technology" #Type="ngModel" [(ngModel)]="service.formData.Technology" class="form-control" placeholder="Technologija" required maxlength="100">
    </div>
    <div class="form-group">
        <button class=" btn-success btn-lg btn-block btn-sm" type="submit" [disabled]="form.invalid"><i class="far fa-save"></i> Saugoti</button>
    </div>
</form>