<kendo-grid-messages
            pagerPage="Puslapis"
            pagerOf="iš"
            pagerItems="įrašų"
            pagerItemsPerPage="įrašų puslapyje"
            groupPanelEmpty="Vilkite stulpelio antraštę ir įdėkite ją čia, kad grupuotumėte pagal tą stulpelį."
            noRecords="Nerasta jokių įrašų."
            filterFilterButton="Filtruoti" 
            filterClearButton="Valyti"
            filterContainsOperator = "Turi fragmentą"
            filterNotContainsOperator = "Neturi fragmento"
            filterEndsWithOperator = "Baigiasi tekstu"
            filterStartsWithOperator = "Prasideda tekstu"
            filterEqOperator = "Lygu"
            filterNotEqOperator = "Nelygu"
            filterGtOperator = "Daugiau nei"
            filterGteOperator = "Daugiau arba lygu"
            filterLtOperator = "Mažiau nei"
            filterLteOperator = "Mažiau arba lygu"
            filterIsEmptyOperator = "Tuščias"
            filterIsNotEmptyOperator = "Netuščias"
            filterIsFalse = "Neteisingas"
            filterIsTrue = "Teisingas"
            filterIsNotNullOperator = "Nėra null"
            filterIsNullOperator = "Yra null"
            filterOrLogic = "Arba"
            filterAndLogic = "Ir"
            loading = "Duomenys kraunami"
        >
</kendo-grid-messages>