/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
@import '../node_modules/@syncfusion/ej2-gantt/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

#toast-container > div {
    opacity: 1;
    margin-top: 60px;
    margin-right: 20px;
}

table tr:hover{
    cursor : pointer;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color:#28a745;
}

.red-icon{
    color:#dc3545;
}

.content{
    margin: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
  }

.display-4 {
    font-size: 30px;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.btn {
    font-size: 20px;
}

.edit-btn {
    width:65px;
    height: 10 px;
    background-color: #53b827;
    border-color: #53b827;
    color: white;
}

.edit-btn:hover {
    width:65px;
    height: 10 px;
    background-color: #53b827;
    border-color: #53b827;
    color: white;
}

.edit-btn:disabled {
    width:65px;
    height: 10 px;
    background-color: #C5EDB3;
    border-color: #C5EDB3;
    color: white;
}


.delete-btn {
    width:65px;
    height: 10 px;
    background-color: #c75757;
    border-color: #c75757;
}

.delete-btn:hover {
    width:65px;
    height: 10 px;
    background-color: #c75757;
    border-color: #c75757;
}

h4 {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.btn-group{
    background-color: #343a40!important;
}

input[type=date] 
{
    width: 100%;
}

select{
    width: 100%;
}

.full-width {
    width: 100%;
  }

form-group {
    width: 100%;
}
