<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="StageProgressId" [value]="service.formData.StageProgressId">
    <div class="form-group">
        <label for="DateFrom">Data nuo</label><label style="color: red;"> *</label>
        <input name="DateFrom" #Type = "ngModel" [(ngModel)]="service.formData.DateFrom" type="date" class="form-control" id="DateFrom" required>
    </div>
    <div class="form-group">
        <label for="DateTo">Data iki</label><label style="color: red;"> *</label>
        <input name="DateTo" #Type = "ngModel" [(ngModel)]="service.formData.DateTo" type="date" class="form-control" id="DateTo" required>
    </div>
    <div class="form-group">
        <label for="Percentage">Procentas</label><label style="color: red;"> *</label>
        <input name="Percentage" #Type = "ngModel" [(ngModel)]="service.formData.Percentage" type="number" class="form-control" id="Percentage" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Įrašyti</button>
</form>