<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="StageProgressId" [value]="service.formData.StageProgressId">
                <div class="form-group">
                    <label for="Date">Data</label><label style="color: red;"> *</label>
                    <input name="Date" #Type = "ngModel" [(ngModel)]="service.formData.Date" type="date" class="form-control" id="Date" required>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Pasirinktai datai įvykdyta projekto etapo dalis</mat-label>
                        <input matInput name="Percentage" #Type = "ngModel" [(ngModel)]="service.formData.Percentage" type="number" id="Percentage" required>    
                    </mat-form-field>
                </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Įrašyti</button>
</form>