<table class="table table-hover">
    <thead>
            <tr>
                    <th>Pavadinimas</th>
                    <th>Sutarties numeris</th>
                    <th>Biudžetas</th>
                    <th>Užsakovas</th>
                    <th></th>
            </tr></thead>
        <tbody>
    <tr *ngFor="let pd of service.list">
<td (click) = "populateForm(pd)">{{pd.Title}}</td>
<td (click) = "populateForm(pd)">{{pd.ContractNumber}}</td>
<td (click) = "populateForm(pd)">{{pd.Budget}}</td>
<td (click) = "populateForm(pd)">{{this.service.getCustomerName(pd.CustomerId)}}</td>
<td>
    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ProjectId)"></i>
</td>
    </tr></tbody>
</table>