<div class="jumbtron">
    <h1 class="display-4 text-center">Pasiūlymo duomenys</h1>
    <hr>
    <mat-tab-group>
        <nav mat-tab-nav-bar></nav>
        <mat-tab label="Bendra informacija">
            <form #form="ngForm" autocomplete="off">
                <hr>
                <input type="hidden" name="TenderId" [value]="service.formData.TenderId">
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Pasiūlymo konkursas</mat-label>
                        <mat-select [(ngModel)]="service.formData.ContestId" name = "service.formData.ContestId" required>
                          <mat-option *ngFor="let contest of service.list3" [value]="contest.ContestId">{{contest.Title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">  
                        <mat-label>Kaina</mat-label>
                        <input matInput name="Price" #Type = "ngModel" [(ngModel)]="service.formData.Price" type="number" id="Price" required>    
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                      <mat-label>Pateikimo data</mat-label>
                      <input matInput [matDatepicker]="myDatePicker" name="FillingDate" #Type="ngModel" [(ngModel)]="service.formData.FillingDate" required>
                      <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
                      <mat-datepicker #myDatePicker></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <mat-label>Pasiūlymo būsena</mat-label>
                        <mat-select [(ngModel)]="service.formData.TenderStateId" name = "service.formData.TenderStateId" required>
                          <mat-option *ngFor="let tenderState of service.list2" [value]="tenderState.TenderStateId">{{tenderState.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="float: right;">
                    <button kendoButton  (click)="open()" ><i class="fas fa-trash-alt"></i>  Ištrinti</button>
                    <kendo-dialog title="Ištrinti įrašą" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
                        <p style="margin: 30px; text-align: center;">Ar tikrai norite ištrinti šį įrašą?</p>
                        <kendo-dialog-actions>
                            <button kendoButton (click)="close('yes')" primary="true"><i class="fas fa-trash-alt"></i> Ištrinti</button>
                            <button kendoButton (click)="close('no')"><i class="fas fa-arrow-left"></i> Atšaukti</button>
                        </kendo-dialog-actions>
                    </kendo-dialog>
                </div>
                <button kendoButton [primary]="true"(click)="onSubmit(form)" [disabled]="form.invalid">Įrašyti</button>
            </form>
        </mat-tab>
        <mat-tab label="Failai" *ngIf="this.id!=0" >
            <app-tender-file-list></app-tender-file-list>
        </mat-tab>
      </mat-tab-group>
</div>
